body{

font-family: Arial;
background:#f4f4f4;
margin:0;
padding:20px;

}

.container{

max-width:900px;
margin:auto;
background:white;
padding:30px;
border-radius:10px;

}

h1{

text-align:center;

}

input,select,textarea{

width:100%;
padding:10px;
margin:6px 0;
border:1px solid #ccc;
border-radius:5px;

}

button{

background:#5b5bd6;
color:white;
padding:12px;
border:none;
border-radius:6px;
cursor:pointer;
margin-top:10px;

}

button:hover{

background:#4040b0;

}

#voucherPreview{

margin-top:40px;
padding:20px;
border:2px dashed #aaa;
display:none;

}
